<div class="row">
  <div class="col-md-12">
    <article>
      <header>
        <h5>written by <strong><%= comment.author %></strong> at <time><%= comment.created_at.to_s(:short) %></time></h5>
      </header>

      <%= render_markdown comment.body %>

      <footer>
        <%= link_to "Delete", article_comment_url(comment.article, comment), method: :delete, class: "btn btn-danger btn-sm" %>
      </footer>
    </article>
  </div>
</div>

