<div class="row">
  <div class="col-md-12">
    <article>
      <h5>written by <%= comment.author %></h5>

      <p><%= comment.body %></p>

      <details>
        <%= link_to "Delete", article_comment_url(comment.article, comment), method: :delete, class: "btn btn-danger" %>
      </details>
    </article>
  </div>
</div>

