<div class="row">
  
  <article class="col-md-12" data-id="#{article.id}">
    <h2><%= article.subject %></h2>
                                                      
    <%= render_markdown(article.body.split(" \n\n ")[0]) %>

    <%= link_to "Read full article", article_path(article) %>
  </article>
                                                      
</div>
