<section class="articles-index col-md-12">
  <header>
    <h1>Articles</h1>
  </header>
  <hr />
  
  <section class="articles-list">
    <%= render partial: "article", collection: @articles %>
  </section>


</section>
