<div class="jumbotron">
  <h1>Never miss another article!</h1>
  <p>Subscribe to receive email notifications as soon as a new article is posted.</p>
  <p></p>
  <%= form_for Subscriber.new do |f| %>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group form-lg">
          
          <%= f.email_field :email, class: "form-control", placeholder: "Your email address", required: true %>
        </div>
      </div>
      <div class="col-md-3">
        <%= f.button "Sign up!", type: :submit, class: "btn btn-large btn-primary" %>
      </div>
    </div>
  <%- end %>
</div>
